body, html {
    height: 100%;
    margin: 0;
    font-family: Comic Sans MS, Helvetica, Arial, sans-serif;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.landing-header {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: transparent;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.top-right-btn {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #000000;
    color: white;
    border-radius: 5px;
    font-family: Helvetica, Arial, sans-serif;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.center-btn {
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #000000;
    color: white;
    border-radius: 5px;
    font-family: Helvetica, Arial, sans-serif;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.plain-text-btn {
    padding: 10px 20px;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
    border: none;
    background: 0 0;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #ff6f00;
    transform: scale(1.05);
}

.landing {
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.75);
    padding: 25px;
    border-radius: 50px;
}

.landing h1 {
    font-size: 3em;
    margin: 0px 0px;
}

.landing h2 {
    font-size: 2em;
    margin: 10px 0px;
}

.landing h3 {
    font-size: 1.5em;
    margin: 10px 0px;
}

.form {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.75);
    padding: 25px;
    border-radius: 50px;
}

.basic-info {
    font-size: 16px;
    border-radius: 2px;
    padding: 1px;
    border: none;
    min-width: 12vw;
    margin: 1px 0px;
}

.form h1 {
    text-align: center;
    color: white;
    font-size: 2em;
    margin: 10px 0;
}

.form h2 {
    font-size: 0.5em;
    margin: 10px 0;
}

.form h3 {
    font-size: 0.5em;
    margin: 10px 0;
}



.category {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}
